* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 10px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
/* page title */
#pagetitle {
  display: flex; 
  flex-direction: row; 
  align-content:flex-start;
  justify-content: space-evenly;
  margin-right: auto;
}
#pagetitle h1 {
  width: 25%;
  font-weight:600 bold; 
}
 /* navigation flexbox area 1 */
 header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px, 50px;
  font-size: x-large;
 }

 header li {
  list-style: none;
  display: inline-block;
  padding: 50px, 50px;
  margin-inline-start: 25px;
 }
.backgroundbannerstrip {
  background-image: url(/My-profolio-showcase/images/banner\strip\hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: max-content;
  height: 280px;
}

h2 .WebDeveloper {
  position: absolute;
}
#portfoliogrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 600px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "Horiseon"
  "Placeholder One Placeholder One Placeholder Two Placeholder Two"
  "Placeholder Three Placeholder Three Placeholder Four Placeholder Four";

}

#mainfeaturewindow {
  grid-area:;
  background-image: url(../My-profolio-showcase/images/Screenshot\ 2023-10-30\ at\ 21.12.36.png);
}

#placeholderone {
  grid-area: Placeholder One;
  background-image: url(../My-profolio-showcase/images/Placeholder\ One.png) ;
}

#placeholdertwo {
  grid-area: Placeholer Two;
  background-image: url(../My-profolio-showcase/images/Placeholder\ Two.png);
}

#placeholderthree {
  grid-area: Placeholder Three;
  background-image: url(../My-profolio-showcase/images/Placeholder\ Three.png);
}

#placeholderfour {
  grid-area: Placeholder Four;
  background-image: url(../My-profolio-showcase/images/Placeholder\ Four.png);
}

.portfoliogrid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
/*
margin: 0;


p {
  margin: 0;
}
